@*@attribute [Authorize(Roles = "Admin, User")]*@

@*@attribute [Authorize(Roles = "Admin")]
*@

<AuthorizeView Roles="Admin">
    <Authorized>
<h3>SecretComp</h3>
<p class="t1secret">
    Hey there you can see all the secrets!!!!
</p>
    </Authorized>

</AuthorizeView>


