@using ProSimpAuth;
<div class="m-2 p-2 bg-light">
@*    <div class="mb-2">
        <label class="form-label">What's my name today?</label>
        <input class="form-control" @bind=this.TodaysName />
    </div>*@
    <div class="mb-2">
        <label class="form-label">What's the Secret today?</label>
        <input class="form-control" type="password" @bind=this.TheSecret />
    </div>
    <div class="mb-2 text-end">
        <button class="btn btn-success" @onclick="LetMeIn">Let me in</button>
    </div>
</div>

@code {
    [Inject] private AuthenticationStateProvider authenticationStateProvider { get; set; } = default!;

    private string? TheSecret;
    //private string? TodaysName;

    private Task LetMeIn()
    {
        if (authenticationStateProvider is VerySimpleAuthenticationStateProvider verySimpleAuthenticationStateProvider)
        {
            //verySimpleAuthenticationStateProvider?.ChangeIdentityAsync(TodaysName ?? "Anonymous", TheSecret);
            verySimpleAuthenticationStateProvider?.ChangeIdentityAsync(TheSecret);
        }

        return Task.CompletedTask;
    }
}
